.navbar-brand{
    color: var(--morado);
    font-weight: 600;
    font-size: 25px;
}
.navbar-nav{
    li{
        margin: 0px 5px;
        border-radius: 5px;
        a{
            color: #333;
        }
        a.active{
            color: var(--morado);
            border-bottom: 4px solid var(--morado);
        }
    }
}